/* temps */
/* lettertypes */
@font-face {
  font-family: baddies;
  src: url(/metrostylelab.sunbas/fonts/dogicabold.ttf);
}
@font-face {
  font-family: bunda;
  src: url(/metrostylelab.sunbas/fonts/BuenosAires_Variable_Upright_Web_Trial.woff);
}
@font-face {
  font-family: fashun;
  src: url(/metrostylelab.sunbas/fonts/ubuntu.ttf);
}
/* variabelen */
:root {
  --obc: rgb(255, 252, 232);
  --cbc: #ffebf5;
  --hoofd: rgb(255, 0, 136);
  --accent: chartreuse;
  --black: rgb(17, 14, 14);
  --white: rgb(246, 246, 246);
  --nav: linear-gradient(
    rgba(255, 11, 113, 1),
    rgba(255, 55, 138, 0.924),
    rgba(255, 86, 157, 0.89),
    rgba(168, 5, 73, 0.52),
    rgba(22, 22, 22, 0.849),
    rgb(26, 26, 26),
    rgb(0, 0, 0)
  );

  --gradient: linear-gradient(
    rgba(255, 169, 209, 0.137),
    rgba(255, 141, 202, 0.267),
    rgba(255, 63, 143, 0.486),
    rgba(255, 44, 132, 0.705),
    rgba(255, 11, 113, 0.801),
    rgba(255, 11, 113, 1)
  );
  --border: 0.15em solid chartreuse;
  --line: 0.155em;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* STYLES */
body,
html {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

h2 {}

h3,
h4,
h5,
h6 {
  font-family: bunda;
  
}

a {
  text-decoration: none;
  line-height: 1.8;
}

li {
  list-style: none;
}

p {
  font-size: 0.628rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.8;
  text-align: left;
}

/**************** NAVIGATIE*/

nav:first-of-type ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  margin-top: 2.2em;
}

nav:first-of-type ul li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--obc);
  width: 30vw;
  border: solid 0.1em var(--hoofd);
  position: relative;
}

nav:first-of-type ul li a {
  font-size: 1em;
  padding-top: 0.5em;
  color: var(--hoofd);
}

nav:first-of-type ul li:first-child {
 width: 10vw;
  
}

/*BOLLETJES NAV**********
bron:https://stackoverflow.com/questions/56118780/how-to-create-an-horizontal-line-with-dots-over-it */

nav:first-of-type ul li::after {
  position: absolute;
  content: "";
  top: -0.5em;
  left: 50%;
  transform: translatex(-50%);
  width: 15px;
  height: 15px;
  background-clip: content-box;
  background-color: var(--hoofd);
  border-radius: 15px;
  outline: 0.12em solid var(--hoofd);
}


/**HOVER NAV*************/
nav:first-of-type ul li:hover {
  border-top: solid 0.2em var(--accent);
  border-right: solid 0.2em var(--accent);
  border-left: solid 0.2em var(--accent);
  background-color: var(--hoofd);
  margin-top: -.5em;
}

nav:first-of-type ul li:hover a {
  font-size: 1em;
  padding-top: 0.5em;
  color: var(--cbc);
}



nav:first-of-type ul li:hover::after {
 
  border: 0.5em solid rgba(255, 22, 158, 0);
  top: -1.5em;
  
  
}

.active::after {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: .8em solid rgba(255, 22, 158, 0);

}



/***HEADER********/

header {
  height: max-content;
  background-image: url(/img/0021SR.jpeg), url(/img/0028SR.jpeg), url(/img/0035SR.jpg);
  background-position: left top, center top, right top;
  background-repeat: repeat-y;
  background-size: 33.33%;
  background-attachment: fixed;
  border: var(--border) solid var(--obc);
  position: sticky;
  top: 0em;
}

.IntroSwipper {
  height: 1.5em;
  position: relative;
}

header h1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: left;
  padding: 0 0 0 1rem;
}

.tittleSwipe span:first-of-type {
  color: var(--hoofd);
  font-size: 0.5em;
  letter-spacing: 2;
  flex-grow: 2;
}

.tittleSwipe span:nth-of-type(2) {
  font-size: 0.25em;
  font-weight: 500;
  letter-spacing: 5px;
  flex-grow: 1;
  color: var(--white);
}

/************ MAIN!!!!! ELEMENTEN */
body {
  display: grid;
  padding: 0;
}

/************ MAIN!!!!! HIGH*/
main {
  background-color: var(--hoofd);
 
  
}
main section {
  /*****GRID*/
  display: grid;
  grid-template-columns: min-content repeat(2, 2fr);
  margin: 0;
  padding: 0  var(--line);
}


/*** CARD STYLING***************/
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto 4fr 1fr 1fr;

}

section,
article {
  gap: var(--line);
}

h4 {
  line-height: 1.5;
  margin: 0;
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 1.2em;
  padding: 1em 1em 1em 0.5em;
  
}


.high article time {
  text-align: left;
  grid-column: 1/1;
  grid-row: 1/2;
  font-size: 0.5em;
  padding: 0.5em;
  margin: 0;
  height: 0.2em;
}

.card img {
  grid-column: 1/2;
  grid-row: 2/4;
  object-fit: contain;
}

.card p {
  text-align: left;
  grid-column: 2/4;
  grid-row: 2/4;
  padding: 2em;
  font-size: 0.8em;

  line-height: 1.5;
  margin: 0;
}

.card a:last-of-type {
  order: 4;
  grid-column: 1/4;
  grid-row: 4/5;
  text-align: right;
  
  padding: 1em 2em 0.5em 0.5em;
  font-size: 1em;
  color: var(--hoofd);
  margin: 0;
}

.card a:last-of-type:hover {
  border-right: solid 0.355em chartreuse;
  background-color: rgba(128, 255, 0, 0.287);
}

/******ABOUT*/
.about article,
.contact {
 
  display: grid;
  grid-row: 1/-1;
  grid-column: 2/-1;
}

section {
  padding: 0;
  margin: 0;

}

.padd {
  background-color: var(--cbc);
  padding: 15em;
  margin: 0;
 
}

.about article img {
  margin: 0;
  grid-column: 1/3;
  grid-row: 2 / 5;
}

/*tittle pagina links*****/
section:first-of-type h2 {
  background-color: var(--cbc);
  margin: 0;
  padding: 0.5em 1.5em 0 0.5em;
  font-weight: 200;
  grid-row: 1/3;
}
section:first-of-type article > * {
  background-color: var(--cbc);
}


/* ACTION KLIK******/
section:first-of-type article a {
  grid-column: 3/4;
  grid-row: 4/5;
  color: var(--black);
  font-weight: 800;
  

  text-align: right;
}
section:first-of-type article a:hover {
  color: var(--hoofd);
  font-weight: 900;
  font-size: 1.3em;
  border-right: solid 0.355em chartreuse;
}
.about article p {
  grid-column: 3/4;
  grid-row: 2/5;

  padding: 2em;
  margin: 0;
  font-size: 0.8em;
}


/***** CONTACT LAY OUT***********
************************************/
.contact {
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.contact h2 {
  grid-column: 1/4;
  grid-row: 1/2;
  color: aqua;
  margin: 0;
  padding: 0;
}

.contact p {
  margin: 0;
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 1em;
  padding: 1em;
  margin: 3em 0 0 0;
}

.contact h3:nth-of-type(1) {
  color: var(--black);
  grid-column: 1/3;
  font-size: 1.5em;
  padding: 0 .5em;
  margin: 0;
}

.contact h3:nth-of-type(2) {
  color: black;
  grid-column: 3/5;
 
  padding: 0 2em;
  font-size: 1.5em;
  margin: 0;
}

.contact  img {
  width: 450px;
  padding: 2em;
  grid-row: 1/2;
  grid-column: 4/5;
}





/******
CONTACT FORMS**************************/
.contact form {

padding: 2em 5em 2em 2em;
}
.contact form:nth-of-type(2) {
  grid-column: 3/5;
  grid-row: 4/5;
  
}

.contact form:nth-of-type(1) {
  color: var(--black);
  grid-column: 1/3;
  grid-row: 4/5;
  
}

input[type="text"],
select,
textarea {
  width: 95%;
  padding: 0.5em;
  border: none;
  border-bottom: 0.15em solid var(--hoofd);
  
 
}



input[type="text"]:focus {
  width: 90%;
  padding: 0.5em;
  border: 0.5em solid chartreuse;
}

input[type="text"]:nth-last-of-type(2) {
  height: 40em;
  border: 0.125em solid var(--hoofd);
}
input[type="submit"]:last-of-type {
  position: relative;
  align-items: center;

  background-image: url(/metrostylelab.sunbas/img/Pasted\ Graphic.png);
  background-repeat: no-repeat;
  padding: 3em 3em 1em;
  background-size: contain;
}
form {
  padding: 2em;
}
form > * {
  margin: 1em 0;
}
form:focus {

  background-color: blue;
}

/*********ANIMATIE****/

@keyframes lovelet-ani {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}

.contact img:hover {
  animation-name: lovelet-ani;
  animation-duration: 1s;
}

@keyframes post-animation {
  0% {
    
    opacity: 40%;
  }
  100% {
   
    opacity: 100%;
  }
}

input[type="submit"]:last-of-type:hover {
  animation-name: post-animation;
  animation-duration: 1s;
}






/****FOOTER ****/
footer {
  background-color: var(--hoofd);

  margin: 15em 0 0 0;
  margin: 0;
}

footer ul {
  display: flex;

  
 
  
  margin: 0;
}

footer ul li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  background-color: var(--cbc);
  margin: 0;
}
footer ul li a {
  margin: 0;
  font-size: 0.8em;
  color: var(--black);
}

footer p {
  background-color: var(--obc);
  font-size: 0.8em;
  color: var(--hoofd);
  padding: 0 0 2em;
}






/*****FAVE*********/
.fave {
  display: flex;
  background-color: var(--cbc);
}

section ul {
  display: flex;
  margin: var(--line);
  padding: 0;
  background-color: var(--hoofd);
  gap: var(--line);
 
}

section ul li {
  background-color: var(--cbc);
}
 /**************************************************************************************************/
 /* temps */
/* lettertypes */
@font-face {
    font-family: baddies;
    src: url(/metrostylelab.sunbas/fonts/dogicabold.ttf);
  }
  @font-face {
    font-family: bunda;
    src: url(/metrostylelab.sunbas/fonts/BuenosAires_Variable_Upright_Web_Trial.woff);
  }
  @font-face {
    font-family: fashun;
    src: url(/metrostylelab.sunbas/fonts/ubuntu.ttf);
  }
  /* variabelen */
  :root {
    --obc: rgb(255, 252, 232);
    --cbc: #ffebf5;
    --hoofd: rgb(255, 0, 136);
    --accent: chartreuse;
    --black: rgb(17, 14, 14);
    --white: rgb(246, 246, 246);
    --nav: linear-gradient(
      rgba(255, 11, 113, 1),
      rgba(255, 55, 138, 0.924),
      rgba(255, 86, 157, 0.89),
      rgba(168, 5, 73, 0.52),
      rgba(22, 22, 22, 0.849),
      rgb(26, 26, 26),
      rgb(0, 0, 0)
    );
  
    --gradient: linear-gradient(
      rgba(255, 169, 209, 0.137),
      rgba(255, 141, 202, 0.267),
      rgba(255, 63, 143, 0.486),
      rgba(255, 44, 132, 0.705),
      rgba(255, 11, 113, 0.801),
      rgba(255, 11, 113, 1)
    );
    --border: 0.15em solid chartreuse;
    --line: 0.155em;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  body,
  html {
    margin: 0;
  }
  
  body {
    display: grid;
    padding: 0;
  }
  /************ MAIN!!!!! ELEMENTEN */
  /************ MAIN!!!!! LAY OUT*******/
  main {
    background-color: var(--hoofd);
    
  }
  
  
  main section {
    /*****GRID*/
    display: grid;
    grid-template-columns: min-content repeat(2, 2fr);
    margin: 0;
    padding: 0  var(--line);
  }
  
  
  
  /*tittle pagina links*****/
  section:first-of-type h1 {
    background-color: var(--cbc);
    margin: 0;
    padding: 0.5em 1.5em 0 0.5em;
    font-weight: 200;
    grid-row: 1/5;
  }
  section:first-of-type article > * {
    background-color: var(--cbc);
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    grid-column: 2/-1;
    grid-row: 1/2;
    background-color: var(--cbc);
  margin: 0;
    padding: 0.5em 1.5em 0 0.5em;}
  
  h3,
  h4,
  h5,
  h6 {
    font-family: bunda;
    
  }
  
  a {
    text-decoration: none;
    line-height: 1.8;
  }
  
  li {
    list-style: none;
  }
  
  p {
    font-size: 0.628rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
    text-align: left;
  }
  
  /**************** NAVIGATIE*/
  
  nav:first-of-type ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    margin-top: 2.2em;
  }
  
  nav:first-of-type ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--obc);
    width: 30vw;
    border: solid 0.1em var(--hoofd);
    position: relative;
  }
  
  nav:first-of-type ul li a {
    font-size: 1em;
    padding-top: 0.5em;
    color: var(--hoofd);
  }
  
  nav:first-of-type ul li:first-child {
   width: 10vw;
    
  }
  
  /*BOLLETJES NAV**********
  bron:https://stackoverflow.com/questions/56118780/how-to-create-an-horizontal-line-with-dots-over-it */
  
  nav:first-of-type ul li::after {
    position: absolute;
    content: "";
    top: -0.5em;
    left: 50%;
    transform: translatex(-50%);
    width: 15px;
    height: 15px;
    background-clip: content-box;
    background-color: var(--hoofd);
    border-radius: 15px;
    outline: 0.12em solid var(--hoofd);
  }
  
  
  /**HOVER NAV*************/
  nav:first-of-type ul li:hover {
    border-top: solid 0.2em var(--accent);
    border-right: solid 0.2em var(--accent);
    border-left: solid 0.2em var(--accent);
  background-color: var(--hoofd);
  margin-top: -.5em;
  
  }
  
  nav:first-of-type ul li:hover a {
    font-size: 1em;
    padding-top: 0.5em;
    color: var(--cbc);
  }
  
  
  
  nav:first-of-type ul li:hover::after {
   
    border: 0.5em solid rgba(255, 22, 158, 0);
    top: -1.5em;
    
    
  }
  
  .active::after {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: .8em solid rgba(255, 22, 158, 0);
  
  }
  
  
  
  /***HEADER********/
  
  header {
    height: max-content;
    background-image: url(/img/0021SR.jpeg), url(/img/0028SR.jpeg), url(/img/0035SR.jpg);
    background-position: left top, center top, right top;
    background-repeat: repeat-y;
    background-size: 33.33%;
    background-attachment: fixed;
    border: var(--border) solid var(--obc);
    position: sticky;
    top: 0em;
  }
  
  .IntroSwipper {
    height: 1.5em;
    position: relative;
  }
  
  header h1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: left;
    padding: 0 0 0 1rem;
  }
  
  .tittleSwipe span:first-of-type {
    color: var(--hoofd);
    font-size: 0.5em;
    letter-spacing: 2;
    flex-grow: 2;
  }
  
  .tittleSwipe span:nth-of-type(2) {
    font-size: 0.25em;
    font-weight: 500;
    letter-spacing: 5px;
    flex-grow: 1;
    color: var(--white);
  }
  
  
  
  
  /*** CARD STYLING***************/
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 4fr 1fr 1fr;
  
  }
  
  section,
  article {
    gap: var(--line);
  }
  
  h3 {
    line-height: 1.5;
    margin: 0;
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 1.2em;
    padding: 1em 1em 1em 0.5em;
    
  }
  
  
  article time {
    text-align: left;
    grid-column: 1/1;
    grid-row: 1/2;
    font-size: 0.5em;
    padding: 0.5em;
    margin: 0;
    height: 0.2em;
  }
  
  .card img {
    grid-column: 1/2;
    grid-row: 2/4;
    object-fit: contain;
  }
  
  .card p {
    text-align: left;
    grid-column: 2/4;
    grid-row: 2/4;
    padding: 2em;
    font-size: 0.8em;
  
    line-height: 1.5;
    margin: 0;
  }
  
  .card a:last-of-type {
    order: 4;
    grid-column: 1/4;
    grid-row: 4/5;
    text-align: right;
    
    padding: 1em 2em 0.5em 0.5em;
    font-size: 1em;
    color: var(--hoofd);
    margin: 0;
  }
  
  .card a:last-of-type:hover {
    border-right: solid 0.355em chartreuse;
    background-color: rgba(128, 255, 0, 0.287);
  }
  
  /******ABOUT*/
  .about article,
  .contact {
   
    display: grid;
    grid-row: 1/-1;
    grid-column: 2/-1;
  }
  
  section {
    padding: 0;
    margin: 0;
  
  }
  
  .padd {
    background-color: var(--cbc);
    padding: 15em;
    margin: 0;
   
  }
  
  .about article img {
    margin: 0;
    grid-column: 1/3;
    grid-row: 2 / 5;
  }
  
  
  
  /* ACTION KLIK******/
  section:first-of-type article a {
    grid-column: 3/4;
    grid-row: 4/5;
    color: var(--black);
    font-weight: 800;
    
  
    text-align: right;
  }
  section:first-of-type article a:hover {
    color: var(--hoofd);
    font-weight: 900;
    font-size: 1.3em;
    border-right: solid 0.355em chartreuse;
  }
  .about article p {
    grid-column: 3/4;
    grid-row: 2/5;
  
    padding: 2em;
    margin: 0;
    font-size: 0.8em;
  }
  
  
  /***** CONTACT LAY OUT***********
  ************************************/
  .contact {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
  
  
  
  .contact p {
    margin: 0;
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 1em;
    padding: 1em;
    margin: 3em 0 0 0;
  }
  
  .contact h3:nth-of-type(1) {
    color: var(--black);
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 1.5em;
    padding: 0 .5em;
    margin: 0;
  }
  
  .contact h3:nth-of-type(2) {
    color: black;
    grid-column: 3/5;
   grid-row: 2/3;
    padding: 0 2em;
    font-size: 1.5em;
    margin: 0;
  }
  
  .contact  img {
    width: 450px;
    padding: 2em;
    grid-row: 1/2;
    grid-column: 4/5;
  }
  
  
  
  
  
  /******
  CONTACT FORMS**************************/
  .contact form {
  
  padding: 2em 5em 2em 2em;
  }
  .contact form:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 4/5;
    
  }
  
  .contact form:nth-of-type(1) {
    color: var(--black);
    grid-column: 1/3;
    grid-row: 4/5;
    
  }
  
  input[type="text"],
  select,
  textarea {
    width: 95%;
    padding: 0.5em;
    border: none;
    border-bottom: 0.15em solid var(--hoofd);
    
   
  }
  
  
  
  input[type="text"]:focus {
    width: 90%;
    padding: 0.5em;
    border: 0.5em solid chartreuse;
  }
  
  input[type="text"]:nth-last-of-type(2) {
    height: 40em;
    border: 0.125em solid var(--hoofd);
  }
  input[type="submit"]:last-of-type {
    position: relative;
    align-items: center;
  
    background-image: url(/metrostylelab.sunbas/img/Pasted\ Graphic.png);
    background-repeat: no-repeat;
    padding: 3em 3em 1em;
    background-size: contain;
  }
  form {
    padding: 2em;
  }
  form > * {
    margin: 1em 0;
  }
  form:focus {
  
    background-color: blue;
  }
  
  /*********ANIMATIE****/
  
  @keyframes lovelet-ani {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 180deg;
    }
  }
  
  .contact img:hover {
    animation-name: lovelet-ani;
    animation-duration: 1s;
  }
  
  @keyframes post-animation {
    0% {
      scale: 1;
      opacity: 40%;
    }
    100% {
      scale: 2;
      opacity: 100%;
    }
  }
  
  input[type="submit"]:last-of-type:hover {
    animation-name: post-animation;
    animation-duration: 1s;
  }
  
  
  
  
  
  
  /****FOOTER ****/
  footer {
    background-color: var(--hoofd);
  
    margin: 15em 0 0 0;
    margin: 0;
  }
  
  footer ul {
    display: flex;
  
    
   
    
    margin: 0;
  }
  
  footer ul li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    background-color: var(--cbc);
    margin: 0;
  }
  footer ul li a {
    margin: 0;
    font-size: 0.8em;
    color: var(--black);
  }
  
  footer p {
    background-color: var(--obc);
    font-size: 0.8em;
    color: var(--hoofd);
    padding: 0 0 2em;
  }
  
  
  
  
  
  
  /*****FAVE*********/
  .fave {
    display: flex;
    background-color: var(--cbc);
  }
  
  section ul {
    display: flex;
    margin: var(--line);
    padding: 0;
    background-color: var(--hoofd);
    gap: var(--line);
   
  }
  
  section ul li {
    background-color: var(--cbc);
  }
  /********OPTIE ABOUT 2*******************************/

  /******ABOUT*/
.about article,
.contact {
 
  display: grid;
  grid-row: 1/-1;
  grid-column: 2/-1;
}

section {
  padding: 0;
  margin: 0;
  
 
}

.padd {
  background-color: var(--cbc);
  padding: 15em;
  margin: 0;
 
}

/*tittle pagina links*****/
section:first-of-type h2 {
  background-color: var(--cbc);
  margin: 0;
  padding: 0.5em 1.5em 0 0.5em;
  font-weight: 200;
  grid-row: 1/3;
}

.about article img {
  margin: 0;
  grid-column: 1/3;
  grid-row: 2 / 5;
}

.hww a {
  grid-column: 3/4;
  grid-row: 4/5;
  color: var(--black);
  font-weight: 800;
  padding: 5em;

  text-align: right;
}
section:first-of-type article a:hover {
  color: var(--hoofd);
  font-weight: 900;
  font-size: 1.3em;
  border-right: solid 0.355em chartreuse;
}
.about article p {
  grid-column: 3/4;
  grid-row: 2/4;

  padding: 2em;
  margin: 0;
  font-size: 0.8em;
}
section:first-of-type article > * {
  background-color: var(--cbc);
}

/*******************/
.hww a {
    grid-column: 3/4;
    grid-row: 4/5;
    color: var(--black);
    font-weight: 800;
    padding: 5em;
  
    text-align: right;
  }
  
  section:first-of-type article a:hover {
    color: var(--hoofd);
    font-weight: 900;
    font-size: 1.3em;
    border-right: solid 0.355em chartreuse;
  }
  /*************beter grid versie******/
  /* temps */
/* lettertypes */
@font-face {
    font-family: baddies;
    src: url(/metrostylelab.sunbas/fonts/dogicabold.ttf);
  }
  @font-face {
    font-family: bunda;
    src: url(/metrostylelab.sunbas/fonts/BuenosAires_Variable_Upright_Web_Trial.woff);
  }
  @font-face {
    font-family: fashun;
    src: url(/metrostylelab.sunbas/fonts/ubuntu.ttf);
  }
  /* variabelen */
  :root {
    --obc: rgb(255, 252, 232);
    --cbc: #ffebf5;
    --hoofd: rgb(255, 0, 136);
    --accent: chartreuse;
    --black: rgb(17, 14, 14);
    --white: rgb(246, 246, 246);
    --nav: linear-gradient(
      rgba(255, 11, 113, 1),
      rgba(255, 55, 138, 0.924),
      rgba(255, 86, 157, 0.89),
      rgba(168, 5, 73, 0.52),
      rgba(22, 22, 22, 0.849),
      rgb(26, 26, 26),
      rgb(0, 0, 0)
    );
  
    --gradient: linear-gradient(
      rgba(255, 169, 209, 0.137),
      rgba(255, 141, 202, 0.267),
      rgba(255, 63, 143, 0.486),
      rgba(255, 44, 132, 0.705),
      rgba(255, 11, 113, 0.801),
      rgba(255, 11, 113, 1)
    );
    --border: 0.15em solid chartreuse;
    --line: 0.155em;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  body,
  html {
    margin: 0;
  }
  
  body {
    display: grid;
    padding: 0;
  }
  /************ MAIN!!!!! kleur ELEMENTEN */
  
  main {
    background-color: var(--hoofd);
  }
  section:first-of-type article > * {
    background-color: var(--cbc);
  }
  
  
  
  /************ MAIN!!!!! LAY OUT*******/
  main section {
    /*****GRID*/
    display: grid;
    grid-template-columns: 9.75vw repeat(2, 2fr);
    grid-template-rows: auto 2fr 2fr;
    margin: 0;
    padding:  var(--line);
  }
  
  
  
  /*tittle pagina links*****/
  section:first-of-type h1 {
    background-color: var(--cbc);
    margin: 0;
    padding: .6em 1.5em 0 0.5em;
    font-weight: 200;
    grid-row: 1/-1;
    font-weight: 300;
    color: var(--hoofd);
  }
  
  /*subtittle pagina boven*****/
   h2 {
    grid-column: 2/-1;
  
    background-color: var(--cbc);
    margin: 0;
    padding: 0.5em 1.5em .5em 0.5em;
    font-weight: 300;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  a {
    text-decoration: none;
    line-height: 1.8;
  }
  
  li {
    list-style: none;
  }
  
  p {
    font-size: 0.628rem;
    font-family: fashun;
    line-height: 1.8;
    text-align: left;
  }
  
  /**************** NAVIGATIE*/
  
  nav:first-of-type ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    margin-top: 2.2em;
  }
  
  nav:first-of-type ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--obc);
    width: 30vw;
    border: solid 0.1em var(--hoofd);
    position: relative;
  }
  
  nav:first-of-type ul li a {
    font-size: 1em;
    padding-top: 0.5em;
    color: var(--hoofd);
  }
  
  nav:first-of-type ul li:first-child {
    width: 10vw;
  }
  
  /*BOLLETJES NAV**********
  bron:https://stackoverflow.com/questions/56118780/how-to-create-an-horizontal-line-with-dots-over-it */
  
  nav:first-of-type ul li::after {
    position: absolute;
    content: "";
    top: -0.5em;
    left: 50%;
    transform: translatex(-50%);
    width: 15px;
    height: 15px;
    background-clip: content-box;
    background-color: var(--hoofd);
    border-radius: 15px;
    outline: 0.12em solid var(--hoofd);
  }
  
  /**HOVER NAV*************/
  nav:first-of-type ul li:hover {
    border-top: solid 0.2em var(--accent);
    border-right: solid 0.2em var(--accent);
    border-left: solid 0.2em var(--accent);
    background-color: var(--hoofd);
    margin-top: -0.5em;
  }
  
  nav:first-of-type ul li:hover a {
    font-size: 1em;
    padding-top: 0.5em;
    color: var(--cbc);
  }
  
  nav:first-of-type ul li:hover::after {
    border: 0.5em solid rgba(255, 22, 158, 0);
    top: -1.5em;
  }
  
  .active::after {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 0.8em solid rgba(255, 22, 158, 0);
  }
  
  /***HEADER********/
  
  header {
    height: max-content;
    background-image: url(/img/0021SR.jpeg), url(/img/0028SR.jpeg),
      url(/img/0035SR.jpg);
    background-position: left top, center top, right top;
    background-repeat: repeat-y;
    background-size: 33.33%;
    background-attachment: fixed;
    border: var(--border) solid var(--obc);
    position: sticky;
    top: 0em;
  }
  
  .IntroSwipper {
    height: 1.5em;
    position: relative;
  }
  
  header h1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: left;
    padding: 0 0 0 1rem;
  }
  
  .tittleSwipe span:first-of-type {
    color: var(--hoofd);
    font-size: 0.5em;
    letter-spacing: 2;
    flex-grow: 2;
  }
  
  .tittleSwipe span:nth-of-type(2) {
    font-size: 0.25em;
    font-weight: 500;
    letter-spacing: 5px;
    flex-grow: 1;
    color: var(--white);
  }
  
  /*** Home;
  *************CARD STYLING***************/
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
  }
  
  section,
  article {
    gap: var(--line);
  }
  
  h3 {
    line-height: 1.5;
    margin: 0;
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 1.2em;
    padding: 1em 1em 1em 0.5em;
  }
  
  article time {
    text-align: left;
    grid-column: 1/1;
    grid-row: 1/2;
    font-size: 0.5em;
    padding: 0.5em;
    margin: 0;
    height: 0.2em;
  }
  
  .card img {
    grid-column: 1/2;
    grid-row: 2/4;
    object-fit: contain;
  }
  
  .card p {
    text-align: left;
    grid-column: 2/4;
    grid-row: 2/4;
    padding: 2em;
    font-size: 0.8em;
    line-height: 1.5;
    margin: 0;
  }
  
  .card a:last-of-type {
    grid-column: 1/4;
    grid-row: 4/5;
    text-align: right;
    padding: 2em 2em 0.5em 0.5em;
    font-size: 1em;
    color: var(--hoofd);
    margin: 0;
  }
  
  .card a:last-of-type:hover {
    border-right: solid 0.355em chartreuse;
    background-color: rgba(210, 241, 178, 0.969);
    font-size: 1.125em;
  }
  
  /******ABOUT*/
  .about article,
  .contact {
    display: grid;
    grid-row: 1/-1;
    grid-column: 2/-1;
  }
  
  /* ABOUT ACTION KLIK LAYOUT******/
  section:first-of-type article a {
    grid-column: 3/4;
   
    color: var(--black);
    font-weight: 800;
    text-align: right;
  }
  section {
    padding: 0;
    margin: 0;
  }
  
  .padd {
    background-color: var(--cbc);
    padding: 15em;
    margin: 0;
    grid-column: 1/-1;
  }
  
  .about article img {
    margin: 0;
    grid-column: 1/3;
    grid-row: 2 / 5;
  }
  .about article p {
    grid-column: 3/4;
    grid-row: 2/4;
  
    padding: 2em;
    margin: 0;
    font-size: 0.8em;
  }
  
  /***** CONTACT LAY OUT***********
  ********************************
  
  
  .contact h2 {
    grid-column: 1/4;
   
    color: aqua;
    margin: 0;
  }****/
  
  .contact p {
    margin: 0;
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 1em;
    padding: 1em;
    margin: 0;
  }
  
  .contact img {
    width: 450px;
    padding: 2em;
    grid-row: 1/3;
    grid-column: 4/5;
  }
  
  .contact h3:nth-of-type(1) {
    color: var(--black);
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 1.5em;
    padding: 0 0.5em;
    margin: 0;
  }
  
  .contact h3:nth-of-type(2) {
    color: black;
    grid-column: 3/5;
    grid-row: 3/4;
    padding: 0 2em;
    font-size: 1.5em;
    margin: 0;
  }
  
  /******
  CONTACT FORMS**************************/
  .contact form {
    padding: 2em 5em 2em 2em;
  }
  .contact form:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 4/5;
  }
  
  .contact form:nth-of-type(1) {
    color: var(--black);
    grid-column: 1/3;
    grid-row: 4/5;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 95%;
    padding: 0.5em;
    border: none;
    border-bottom: 0.15em solid var(--hoofd);
  }
  
  input[type="text"]:focus {
    width: 90%;
    padding: 0.5em;
    border: 0.5em solid chartreuse;
  }
  
  input[type="text"]:nth-last-of-type(2) {
    height: 40em;
    border: 0.125em solid var(--hoofd);
  }
  input[type="submit"]:last-of-type {
    position: relative;
    align-items: center;
  
    background-image: url(/metrostylelab.sunbas/img/Pasted\ Graphic.png);
    background-repeat: no-repeat;
    padding: 3em 3em 1em;
    background-size: contain;
  }
  form {
    padding: 2em;
  }
  form > * {
    margin: 1em 0;
  }
  form:focus {
    background-color: blue;
  }
  
  /*********ANIMATIE****/
  
  @keyframes lovelet-ani {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 180deg;
    }
  }
  
  .contact img:hover {
    animation-name: lovelet-ani;
    animation-duration: 1s;
  }
  
  @keyframes post-animation {
    0% {
      scale: 1;
      opacity: 40%;
    }
    100% {
      scale: 2;
      opacity: 100%;
    }
  }
  
  input[type="submit"]:last-of-type:hover {
    animation-name: post-animation;
    animation-duration: 1s;
  }
  
  /****FOOTER ****/
  footer {
    background-color: var(--hoofd);
  
    margin: 15em 0 0 0;
    margin: 0;
  }
  
  footer ul {
    display: flex;
  
    margin: 0;
  }
  
  footer ul li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    background-color: var(--cbc);
    margin: 0;
  }
  footer ul li a {
    margin: 0;
    font-size: 0.8em;
    color: var(--black);
  }
  
  footer p {
    background-color: var(--obc);
    font-size: 0.8em;
    color: var(--hoofd);
    padding: 0 0 2em;
  }
  
  /*****FAVE*********/
  .fave {
    display: flex;
    background-color: var(--cbc);
  }
  
  section ul {
    display: flex;
    margin: var(--line);
    padding: 0;
    background-color: var(--hoofd);
    gap: var(--line);
  }
  
  section ul li {
    background-color: var(--cbc);
  }
  

  