/* temps */
/* lettertypes */
@font-face {
  font-family: baddies;
  src: url(./fonts/dogicabold.ttf);
}
@font-face {
  font-family: bunda;
  src: url(./fonts/BuenosAires_Variable_Upright_Web_Trial.woff);
}
@font-face {
  font-family: fashun;
  src: url(./fonts/ubuntu.ttf);
}
/* variabelen */
:root {
  --obc: rgb(255, 252, 232);
  --cbc: #ffebf5;
  --hoofd: rgb(255, 0, 136);
  --accent: chartreuse;
  --black: rgb(17, 14, 14);
  --white: rgb(246, 246, 246);
  --nav: linear-gradient(
    rgba(255, 11, 113, 1),
    rgba(255, 55, 138, 0.924),
    rgba(255, 86, 157, 0.89),
    rgba(168, 5, 73, 0.52),
    rgba(22, 22, 22, 0.849),
    rgb(26, 26, 26),
    rgb(0, 0, 0)
  );

  --gradient: linear-gradient(
    rgba(255, 169, 209, 0.137),
    rgba(255, 141, 202, 0.267),
    rgba(255, 63, 143, 0.486),
    rgba(255, 44, 132, 0.705),
    rgba(255, 11, 113, 0.801),
    rgba(255, 11, 113, 1)
  );
  --border: 0.15em solid chartreuse;
  --line: 0.155em;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  display: grid;
  padding: 0;
}

/************ MAIN!!!!! kleur ELEMENTEN */

main {
  background-color: var(--hoofd);
  display: grid;
  grid-template-columns: 6.75vw 1fr;
  
border-right: var(--line) solid var(--hoofd);padding: 0 }
section:first-of-type article > * {
  background-color: var(--cbc);
}



/************ MAIN!!!!! LAY OUT*******/
main section {
  /*****GRID*/
  display: grid;
  grid-column: 2/-1;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto 2fr 2fr;
  margin: 0;
  padding: 0 0 0 0 ;
}
/*tittle pagina links*****/
main h1 {
  background-color: var(--cbc);
  margin:  0 ;
  padding: .6em 1.5em 0 0.5em;
  font-weight: 200;
  grid-area: 1/ 1 / -1/ 2;
  font-weight: 300;
  font-size: 1.5em;
  color: var(--hoofd);
   position: sticky;
   top: 0;
   border: .08em var(--hoofd) solid;
}


/*subtittle pagina boven*****/
 h2 {
  grid-column: 1/-1;
position: sticky;
  top: 2.5em;
  background-color: var(--cbc);
  margin: 0;
  border-top: .08em var(--hoofd) solid;
  
  font-weight: 200;
  padding: .5em 1.5em .5em .5em;
  font-size: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  line-height: 1.8;
}

li {
  list-style: none;
}

p {
  font-size: 0.628rem;
  
  line-height: 1.8;
  text-align: left;
  padding: 1em;
}

.padd {
  background-color: var(--cbc);
  padding: 15em;
  margin: var(--line) 0 ;
  grid-column: 1/-1;
}
/**************** NAVIGATIE*/
main nav {
  position: fixed;

  bottom: 0;
  z-index: 2;}
main nav:first-of-type ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;

}

nav:first-of-type ul li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--obc);
  width: 31vw;
  border: solid 0.1em var(--hoofd);
  position: relative;
}

nav:first-of-type ul li a {
  font-size: 1em;
  padding-top: 0.5em;
  color: var(--hoofd);
}

nav:first-of-type ul li:first-child {
  width: 6.75vw;
}

/*BOLLETJES NAV**********
bron:https://stackoverflow.com/questions/56118780/how-to-create-an-horizontal-line-with-dots-over-it */

nav:first-of-type ul li::after {
  position: absolute;
  content: "";
  top: -0.5em;
  left: 50%;
  transform: translatex(-50%);
  width: 15px;
  height: 15px;
  background-clip: content-box;
  background-color: var(--hoofd);
  border-radius: 15px;
  outline: 0.12em solid var(--hoofd);
}

/**HOVER NAV*************/
nav:first-of-type ul li:hover {
  border-top: solid 0.2em var(--accent);
  border-right: solid 0.2em var(--accent);
  border-left: solid 0.2em var(--accent);
  background-color: var(--hoofd);
  margin-top: -0.5em;
}

nav:first-of-type ul li:hover a {
  font-size: 1em;
  padding-top: 0.5em;
  color: var(--cbc);
}

nav:first-of-type ul li:hover::after {
  border: 0.5em solid rgba(255, 22, 158, 0);
  top: -1.5em;
}

.active::after {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 0.6em solid rgba(49, 255, 22, 0.641);
}

/***HEADER********/

header {
  height: max-content;
  background-image: url(./img/0021SR.jpeg), url(./img/0028SR.jpeg),
  url(./img/0035SR.jpg);
  background-position: left top, center top, right top;
  background-repeat: repeat-y;
  background-size: 33.33%;
  background-attachment: fixed;
  border: var(--border) solid var(--hoofd);
  position: sticky;
  top: 0em;
  padding: .125em 6em .25em 6em;
}


.IntroSwipper {
  height: 1.5em;
  position: relative;
}

header h1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: left;
  padding: 0 0 0 1rem;
}
.tittleSwipe span:first-of-type a {
  color: var(--hoofd);
  
  

  
}
.tittleSwipe span:first-of-type {
  color: var(--hoofd);
  font-size: 0.5em;
  letter-spacing: 2;
  flex-grow: 2;
}

.tittleSwipe span:nth-of-type(2) {
  font-size: 0.25em;
  font-weight: 500;
  letter-spacing: 5px;
  flex-grow: 1;
  color: var(--white);
}

/*** CARD STYLING***************/
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 2fr ;
}

section,
article {
  gap: var(--line);
}

h3 {
  line-height: 1.5;
  margin: 0;
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 1.2em;
  padding: 1.5em 1em 1em 0.5em;
}
 
article time {
  text-align: left;
  grid-column: 1/1;
  grid-row: 1/2;
  font-size: 0.5em;
  padding: 0.5em;
  margin: 0;
  height: 0.2em;
}

.card img {
  grid-column: 1/2;
  grid-row: 2/5;
  object-fit: contain;
}

.card p {
  text-align: left;
  grid-column: 2/4;
  grid-row: 2/3;
  padding: 2em;
  font-size: 0.8em;
  line-height: 1.5;
  margin: 0;
  padding: 3em;
}

.card a:last-of-type {
  grid-column: 2/4;
  grid-row: 3/5;
  text-align: right;
  padding: 2em 2em 0.5em 0.5em;
  font-size: 1em;
  color: var(--hoofd);
  margin: 0;
}

.fave a:hover p,
.about a:last-of-type:hover,
.card a:last-of-type:hover {
  border-right: solid 0.355em chartreuse;
  background-color: rgba(210, 241, 178, 0.969);
  font-size: 1.125em;
}
/*****FAVE
**************************
*********************************
*************************************/

section ul {
  grid-area: 2/1/-1/-1;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  background-color: var(--hoofd);
  gap: var(--line);
  width: 100%;
  max-width: 100%;
  
}

section ul li {
 flex: 2 1 23%;
  background-color: var(--cbc);
  flex-grow: 1;
  width: 100%;
  padding: 0;
  
  
}
section ul li img {
  
 width: 100%;
 height: 85%;
}

section ul li a {
  background-color: var(--cbc);
  flex-grow: 1;
  height: 100%;
  padding: 0;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  color: var(--hoofd);
  
  

}

section ul li a p {
  height: 15%;
  padding: 1em;
  border-top: var(--hoofd) solid .25em;
  margin: 0;
font-size: 1rem;

}
/******ABOUT
******************************
************************************
********************************************/
.about article,
.contact {
  display: grid;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

/* ABOUT ACTION KLIK LAYOUT******/
section:first-of-type article a {
  grid-column: 3/4;
  grid-row: 3/5;
  color: var(--black);
  font-weight: 700;
  text-align: right;
  padding: 3em 2em;
}
section {
  padding: 0;
  margin: 0;
}
.about h2 {
  grid-column: 1/4;
}


.about article img {
  margin: 0;
  grid-column: 1/3;
  grid-row: 2 / 5;
}
.about article p {
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 8em;
  margin: 0;
  font-size: .8em;
  line-height: 2;
}




/***** CONTACT LAY OUT***********
************************************/
.contact h1 { grid-column: 1/2;
grid-row: 1/-1;
object-fit: contain;}
.contact {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-area: 2/2/-1/-1;
}
article > *{
  background-color: var(--cbc);
  gap: var(--line);
}

.contact p {
  margin: 0;
  grid-column: 2/-1;
  grid-row: 2/3;
  font-size: 1em;
  padding: 6em;
  margin: 0;
}

.contact img {
  width: 550px;
  padding: 5em 1em;
  grid-row: 2/3;
  grid-column: 1/2;
}

.contact h3:nth-of-type(1) {
  color: var(--black);
  grid-column: 1/3;
  grid-row: 3/4;
  font-size: 1.5em;
  padding: 3em;
  margin: 0;
}

.contact h3:nth-of-type(2) {
  color: black;
  grid-column: 3/-1;
  grid-row: 3/4;
  padding: 3em;
  font-size: 1.5em;
  margin: 0;

}

/******
CONTACT FORMS**************************/
.contact form {
  padding: 5em;
}
.contact form:nth-of-type(2) {
  grid-column: 3/5;
  grid-row: 4/5;
}

.contact form:nth-of-type(1) {
  color: var(--black);
  grid-column: 1/3;
  grid-row: 4/5;
}

input[type="text"],
select,
textarea {
  width: 95%;
  padding: 0.5em;
  border: none;
  border-bottom: 0.15em solid var(--hoofd);
}

input[type="text"]:focus {
  width: 90%;
  padding: 0.5em;
  border: 0.5em solid chartreuse;
}

input[type="text"]:nth-last-of-type(2) {
  height: 40em;
  border: 0.125em solid var(--hoofd);
}
input[type="submit"]:last-of-type {
  position: relative;
  
  width: 5rem;
  height: 4rem;
  padding: 2.5rem 0 0;
  background-image: url(/img/Pasted\ Graphic.png);
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}
form {
  padding: 2em;
}
form > * {
  margin: 1em 0;
}
form:focus {
  background-color: blue;
}

/*********ANIMATIE****/


@keyframes lovelet-ani {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}

.contact img:hover {
  animation-name: lovelet-ani;
  animation-duration: 3s;
}

@keyframes post-animation {
  0% {
    scale: .8;
    opacity: 40%;
    border: var(--hoofd);
    rotate: 5deg;
  }
  25% {
    scale: .5;
    opacity: 80%;
    border: var(--hoofd);
    rotate: -5deg;
  }
  50% {
    scale: 1;
    opacity: 100%;
    border: var(--hoofd);
    rotate: 0deg;
    
  }

  100% {
    scale: 1.2;
    opacity: 100%;
    border: var(--hoofd);
   rotate: 0deg;
  }
}

input[type="submit"]:last-of-type:hover {
  animation-name: post-animation;
  animation-duration: 1s;
}


/****FOOTER ****/
footer {
  background-color: var(--hoofd);

  margin: 15em 0 0 0;
  margin: 0;
}

footer ul {
  display: flex;
padding: 0;
  margin: 0;
}

footer ul li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  background-color: var(--cbc);
  margin: 0;
}
footer ul li a {
  margin: 0;
  font-size: 0.8em;
  color: var(--black);
}

footer p {
  background-color: var(--obc);
  font-size: 0.8em;
  color: var(--hoofd);
  padding: 0 0 2em;
}


